.big_cont {
  background-color: #f8f6f6;
  padding: 2.5rem;
}

.big_min_cont {
  background-color: #fff;
}

@media screen and (max-width: 769px) {
  .big_cont {
    background-color: #ddd9d9;
    padding: 0;
  }

  .big_min_cont {
    background-color: #fff;
  }
}
