.main_cont {
  background-color: #ebe7e7;
  width: 100%;
  padding: 2.8rem;
  border: 2px;
}

@media screen and (max-width: 769px) {
  .main_cont {
    background-color: #ebe7e7;
    width: 100%;
    padding: 0;
    border: 2px;
  }
}
